<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Projects - poc-team-Cloud</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link href="/assets/css/main.css" th:href="@{/assets/css/main.css}" rel="stylesheet" />
	<link href="/assets/bootstrap/css/bootstrap.css" th:href="@{/assets/bootstrap/css/bootstrap.css}" rel="stylesheet" />

	<script src="/assets/scripts/jquery.min.js"  th:href="@{/assets/scripts/jquery.min.js}"></script>
	<script src="/assets/bootstrap/js/bootstrap.js"></script>
	<script src="/assets/js/header.js"></script>
	
	<!-- footer -->   
	<link href="/assets/bootstrap/css/bootstrap.min.css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
   <link href="/assets/font/css/font-awesome.min.css" th:href="@{/assets/font/css/font-awesome.min.css}" rel="stylesheet"/>
   <link href="/assets/css/footer.css" th:href="@{/assets/css/footer.css}" rel="stylesheet"/>

	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body id="top">
	<!-- Header -->
	<header id="header" th:replace="header :: header">
<!-- 		<div class="inner"> -->
<!-- 			<div class ="avatar image" th:each="member : ${ourTeam}"> -->
<!-- 				<a href="#">  -->
<!-- 					<img src="/images/avatar.jpg" alt="" /> -->
<!-- 				</a> -->
<!-- 				<br/> -->
<!-- 				<span th:text="${member.lastName}">name</span> -->
<!-- 				<br/> -->
<!-- 				<p th:text="${member.role}">role</p> -->
<!-- 				<ul class="icons"> -->
<!-- 				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li> -->
<!-- 				<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li> -->
<!-- 			</ul> -->
<!-- 			</div>		 -->
<!-- 		</div> -->
	</header>

	<!-- Main -->
	<div class="container">
		
		<!-- zero -->
		<div class="col-xs-12 col-sm-12">
		<section id="one">
<!-- 			<header class="major"> -->
<!-- 				<h2>Return to Poc-Team-Cloud home Page </h2> -->
<!-- 				<ul><li><a href = "index" th:href="@{/}"> Home </a></li></ul> -->
<!-- 			</header> -->
			
			<header class="major">
<!-- 				<h2>Initiate a new project :-) </h2> -->
				<ul class="actions"><li><a href = "projects" th:href="@{/pj(form)}" class="button"> Create here </a></li></ul>
			</header>
			
		</section>
		
		<!-- Two -->
		<section id="two">
			<header class="major">
				<h2>Works</h2>
			</header>
			<div class="row" >
				<article class="6u 12u$(xsmall) work-item" th:each="project : ${ourProject}">
					<a href="images/fulls/01.jpg" class="image fit thumb"> <img
						src="images/thumbs/01.jpg" class="img-rounded" alt="" /></a> <a th:href="@{/pj/{pID}(pID=${project.id})}" href="projectX" th:text="${project.name}">
						Project x </a>
					<p th:text="${project.description}">Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
          
				</article>
			</div>
		</section>

	</div>
	</div>

	<!-- Footer -->
	<footer id="footer" th:replace="footer :: footer">
<!-- 		<div class="inner"> -->
<!-- 			<ul class="icons"> -->
<!-- 				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
<!-- 				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li> -->
<!-- 				<li><a href="#" class="icon fa-dribbble"><span -->
<!-- 						class="label">Dribbble</span></a></li> -->
<!-- 				<li><a href="#" class="icon fa-envelope-o"><span -->
<!-- 						class="label">Email</span></a></li> -->
<!-- 			</ul> -->
<!-- 			<ul class="copyright"> -->
<!-- 				<li>&copy; Untitled</li> -->
<!-- 				<li>Design: <a href="http://pocteamcloud.fr">Team-Cloud</a></li> -->
<!-- 			</ul> -->
<!-- 		</div> -->
	</footer>
</body>
</html>